/* 全局样式表 */
html, body, #app {
    height: 100%;
    width: 100%;
    background: #fcfcfc;
    position: relative;
}

html::-webkit-scrollbar {
    /*滚动条宽高设置*/
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "pingFang SC", Arial, "Microsoft YaHei", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.container {
    height: inherit;
    width: 1380px;
    margin: 20px auto;
    overflow: hidden;
}

.bar {
    height: 20px;
    border-left: 3px solid #FA2800;
    margin-right: 16px;
}

.el-input__inner {
    height: 56px;
    border: none;
    outline: none;
}

.el-tabs__nav-wrap::after {
    background-color: rgba(0, 0, 0, 0);
}

.el-tabs__active-bar {
    background-color: #FA2800;
}

.el-tabs__item.is-active {
    color: #FA2800;
}

.suo1 {
    display: -webkit-box; /*将对象转为弹性盒模型展示*/
    -webkit-box-orient: vertical; /*设置弹性盒模型子元素的排列方式*/
    -webkit-line-clamp: 1; /*限制文本行数*/
    overflow: hidden; /*超出隐藏*/
}

.suo2 {
    display: -webkit-box; /*将对象转为弹性盒模型展示*/
    -webkit-box-orient: vertical; /*设置弹性盒模型子元素的排列方式*/
    -webkit-line-clamp: 2; /*限制文本行数*/
    overflow: hidden; /*超出隐藏*/
}


/*.swiper-pagination-bullet-active*/
.el-slider__bar {
    background: #FA2800;
    height: 3px;
}

.el-slider__runway {
    height: 3px;
}

.el-slider__button {
    border: 2px solid #FA2800;
    height: 8px;
    width: 8px;
    margin-bottom: 3px;
}

.lyricsStyle {
    font-size: 14px;
    color: #4a4a4a;
    margin: 10px 0;
    text-align: center;
    user-select: none;
    line-height: 20px;
    /*transition: 1s;*/
}

.lyricsActive {
    color: #FA2800;
    transition: color 1s;
}

/*修改分页器的背景和字体颜色*/
/*::v-deep {*/

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    /*background-color: #fff;*/ /*进行修改未选中背景和字体*/
    color: #FA2800;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #FA2800; /* 进行修改选中项背景和字体*/
    color: #fff;
}

/*}*/
